@model u22555260_HW03.Models.CombindedTableViews
@using PagedList
@using PagedList.Mvc

<style>
    body {
        background-image: url('https://img.freepik.com/free-vector/beautiful-book-club-pattern-illustration_23-2149330102.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
</head>

<style>
    .table-container {
        margin-bottom: 20px; 
    }
</style>

<body>


    <div class="row">
        <div class="table-container">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2>Authors</h2>
                <p>
                    <button href="#" class="create-link btn btn-danger" data-url="@Url.Action("Create", "authors")">Create Student</button>
                </p>

                <table id="author" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr class="table-danger">
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Maintain</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Authors)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.name)</td>
                                <td>@Html.DisplayFor(modelItem => item.surname)</td>
                                <td class="text-end">
                                    <div class="btn-group" role="group">
                                        <button href="#" class="edit-link btn btn-secondary mx-1" data-url="@Url.Action("Edit", "authors", new { id = item.authorId })">Edit</button>
                                        <button href="#" class="details-link btn btn-secondary mx-1" data-url="@Url.Action("Details", "authors", new { id = item.authorId })">Details</button>
                                        <button href="#" class="delete-link btn btn-secondary mx-1" data-url="@Url.Action("Delete", "authors", new { id = item.authorId })">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div>

        <div class="table-container">
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Type</h2>
                <p>
                    <button href="#" class="create-link btn btn-warning" data-url="@Url.Action("Create", "types")">Create Type</button>
                </p>

                <table id="type" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr class="table-warning">
                            <th>Name</th>
                            <th>Maintain</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Types)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.name)</td>
                                <td class="text-end">
                                    <div class="btn-group" role="group">
                                        <button href="#" class="edit-link btn btn-secondary mx-1" data-url="@Url.Action("Edit", "types", new { id = item.typeId })">Edit</button>
                                        <button href="#" class="details-link btn btn-secondary mx-1" data-url="@Url.Action("Details", "types", new { id = item.typeId })">Details</button>
                                        <button href="#" class="delete-link btn btn-secondary mx-1" data-url="@Url.Action("Delete", "types", new { id = item.typeId })">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div>

        <div class="table-container">
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2>Borrow</h2>

                <p>
                    <button href="#" class="create-link btn btn-info" data-url="@Url.Action("Create", "borrows")">Create Book</button>
                </p>

                <table id="borrow" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr class="table-info">
                            <th>Student Name</th>
                            <th>Book Name</th>
                            <th>Taken Date</th>
                            <th>Brought Date</th>
                            <th>Maintain</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Borrows)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.students.name) @Html.DisplayFor(modelItem => item.students.surname)</td>
                                <td>@Html.DisplayFor(modelItem => item.books.name)</td>
                                <td>@Html.DisplayFor(modelItem => item.takenDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.broughtDate)</td>
                                <td class="text-end">
                                    <div class="btn-group" role="group">
                                        <button href="#" class="edit-link btn btn-secondary mx-1" data-url="@Url.Action("Edit", "borrows", new { id = item.borrowId })">Edit</button>
                                        <button href="#" class="details-link btn btn-secondary mx-1" data-url="@Url.Action("Details", "borrows", new { id = item.borrowId })">Details</button>
                                        <button href="#" class="delete-link btn btn-secondary mx-1" data-url="@Url.Action("Delete", "borrows", new { id = item.borrowId })">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </section>
        </div>

    </div>

</body>

<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CRUD</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-content">
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(function () {
        $("#author").DataTable();
        $("#type").DataTable();
        $("#borrow").DataTable();
    })

    $(document).ready(function () {
        $("#myTable").dataTable();
    })

    $(function () {
        // Function to handle Edit link click event in the Combined View and Details modal
        $(".edit-link, .edit-link-in-modal").click(function (e) {
            e.preventDefault();
            var url = $(this).data("url");

            $.get(url, function (data) {
                $("#modal-content").empty();
                $("#modal-content").html(data);
                $("#myModal").modal("show");
            });
        });

        // Function to handle form submission within the modal
        $("#modal-content").on("submit", "form", function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr("action");
            var formData = form.serialize();

            $.post(url, formData, function (data) {
                $("#myModal").modal("hide");
                location.reload();
            });
        });

        // Function to handle other links (details, delete, create) within the modal
        $(".details-link, .delete-link, .create-link, .create-lookup-link").click(function (e) {
            e.preventDefault();
            var url = $(this).data("url");

            $.get(url, function (data) {
                $("#modal-content").empty();
                $("#modal-content").html(data);
                $("#myModal").modal("show");
            });
        });
    });
</script>
