@model u22555260_HW03.Models.DownloadedFiles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DownloadedFiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDownloaded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDownloaded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.students.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.students.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
